.cache/
__pycache__/
pdfx.xmpi
\#*
.#*
*.toc
*.aux
*.log
*.xml
*.out
*.4ct
*.4tc
*.dvi
*.idv
*.lg
*.tmp
*.xref
*.paux
*.4oo
*.4og
*.4of
*.4ot
*.4os
*.4oy
*.4od
*.nav
*.snm
*.idx
*.ilg
*.ind
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.bbl
*.blg
*.bcf
*.pdf
*.docbook4
*.epub
*.fb2
*.html
*.css
*.odt
*.ico
*.fo
epub/
*.bib
/*.tex
*.mst
*.rubbercache